<html>
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-full.min.js"></script>
    <script type="text/paperscript" src="../scripts/drawShape.js" canvas="myCanvas"></script>
  	<script type="text/javascript" src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js"></script>
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../scripts/game.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jenil.github.io/bulmaswatch/nuclear/bulmaswatch.min.css"> 
    <style>
    	p {
    		position: absolute;
        z-index: 1;
    	}
      #myCanvas {
        width: 400;
        height: 250;
        z-index: 2;
        position:absolute;
        bottom:55;
        right:225;
        background-color: ffffff;
      }
      #newText {
        width: 300px;
      }
      #game {
        width: 750px;
        height: 375px;
        background: url(assets/game-skin.jpg);
        background-repeat: no-repeat;
        background-size: 650px;
        z-index: 0;
        position: relative;
      }
      #bottom-panel {
        margin-left: 5px;
        display: 'inline';
      }
      #rule {
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    
    <form action="/makeRule" id="makeRule" method="post">
      <div id="game">
        <canvas id="myCanvas" resize></canvas>
        <input type=hidden id="newShape" name="newShape" required />
      </div>
      <div id="bottom-panel">
          <h3 id="rule" class="title is-3"></h1>
          <input type=text id="newText" name="ruleText" required />
          <button class="button is-primary" id="done" type="submit" disabled>DONE</button>
        </div>
    </form>

  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#rule').text('');
      displayPlayers(<%- JSON.stringify(players) %>, <%= turn %>);
      setGlobals(<%- JSON.stringify(state) %>, <%- JSON.stringify(map) %>);
    });
  </script>
</html>